<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/themes/base/images/Logo1.jpg"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .ul2{
                font-size: 20px;
                color:blue;
                padding-left:40px;
            }
            .li2{
                color: blue;
                display:inline;
            }
            .li2 a{
                color: blue;
                text-decoration:none;
            }
            .mysec {
                font-size:18px;
            }
            .nav-item {
                padding:10px;
            }
             .mysec a:hover{
                    text-decoration:none;
                    background-color:yellow;
                    padding:5px;
                    border-radius:5px;
                }
            .ul3 {
                line-height: 40px;
            }
            .li3 a{
                text-decoration: none;
            }
            .li3 {
                list-style: none;
            }
            .card {
            width: 800px;
            text-align:center;
            background-color:whitesmoke;
            margin:auto;
            margin-top:30px;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            function openRightMenu() {
                document.getElementById("rightMenu").style.display = "block";
            }

            function closeRightMenu() {
                document.getElementById("rightMenu").style.display = "none";
            }
        </script>
    </head>
    <body>
        <header style="background-color:black;padding:10px">
                <div style="text-align:center">
                    <section class="mysec">
                        <ul class="nav justify-content-center">
                          <li class="nav-item li2">
                            @Html.ActionLink("Home", "Index", "Home")
                          </li>
                          <li class="nav-item li2">
                            @Html.ActionLink("About", "About", "Home")
                          </li>
                          <li class="nav-item li2">
                            @Html.ActionLink("Contact", "Contact", "Home")
                          </li>
                          <li class="nav-item li2">
                              @{Html.RenderPartial("_LoginPartial");}
                          </li>
                        </ul>
                    </section>
                </div>
        </header>   
            <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;background-color:lightyellow" 
                id="rightMenu">
              <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
              <ul class="ul3">
                  <li class="li3">@Html.ActionLink("Home","Index","Home")</li>
                  <li class="li3">@Html.ActionLink("About Us","About","Home")</li>
                  <li class="li3">@Html.ActionLink("Contact Us","Contact","Home")</li>
                  <li class="li3">@Html.ActionLink("Order Meal","Create","Order")</li>
                  <li class="li3">@Html.ActionLink("Order List","Index","Order")</li>
              </ul>
            </div>
            <div class="w3-teal">
              <button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>
            </div>

            <div class="card">
            <h5 class="card-header">About Us</h5>
            <div class="card-body">
               <p><i class="fab fa-free-code-camp"></i> To serve fresh and warm food.</p>
                <p><i class="fas fa-utensils"></i> Serve healthy yet delicious meal to Students.</p>
                <p><i class="fas fa-level-up-alt"></i> New meal items daily.</p>
                <p><i class="far fa-thumbs-up"></i> No monotomy.</p>
                <p><i class="fas fa-running"></i> Availability of mail boxes on time.</p>
            </div>
            </div>
        </body>
    </html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
