@model MDS9.Models.OrderDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderDetails</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ups.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ups.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.s5.Fname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.s5.Fname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.m4.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.m4.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalAmount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
